<footer>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/befd05abb3.js" crossorigin="anonymous"></script>
    <p class="heading"> Test Cases</p>
    <div class="test-case-container">
      
      <div class="grid-container">
        <div *ngFor="let item of testkeyValuePairs | keyvalue; let i = index">
          <div class="grid-item" [ngClass]="{'even-row': i % 3 === 0, 'odd-row': i % 3 !== 0}">
            <span class="mark-sign" *ngIf="item.value">
              <i class="fas fa-check" style="color: green;"></i>
            </span>
            <span class="mark-sign" *ngIf="!item.value">
              <i class="fas fa-times" style="color: red;"></i>
            </span>
            {{ item.key }}
          </div>
        </div>
      </div>      
    </div>
  </footer>
  <!-- <div *ngFor="let item of testkeyValuePairs | keyvalue">
        <span class="mark-sign"*ngIf="item.value">
          <i class="fas fa-check" style="color: green;"> </i>
        </span>
        <span class="mark-sign" *ngIf="!item.value">
          <i class="fas fa-times" style="color: red;"></i>
        </span>
         {{ item.key }}
      </div> -->