/* live-server.component.scss */

.live-server-container {
    display: flex;
    flex-direction: row;
  }
  
  .live-server-iframe {
    flex: 1;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-top: 10px;
    padding: 10px;
    min-height: 400px;
  }
  